fastapi
uvicorn
python-multipart
python-dotenv

google-genai

pandas
openpyxl
pypdf
python-docx
reportlab
pydantic

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-openai
langchain-text-splitters
langchain-tavily

groq
chromadb
sentence-transformers
